.form {
  max-width: 40rem;
  margin: 2rem auto;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  margin: 30px;
  border-radius: 4px;
  background-color: var(--color-secound);
  color: var(--therd-color);
  border: none;
  transition: 0.4s;
}

.actions button[type='button'] {
  background-color: transparent;
  color: var(--therd-color);
  transition: 0.4s;
}

.actions button:hover {
  background-color: var(--therd-color);
  color: var(--text-color);
}

.actions button[type='button']:hover {
  background-color: var(--therd-color);
  color: var(--text-color);
}
