.categoryForm {
  width: calc(100vw - 250px);
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 70px);
  display: flex;
}

.categoryForm {
  .form {
    padding-top: 200px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 70%;
  }

  .form input,
  .form textarea {
    width: 90%;
    color: var(--second-color);
    margin: 4px;
    border-radius: 4px;
    padding: 10px;
    font-size: 15px;
    outline: none;
  }

  .form label {
    color: var(--second-color);
    padding: 10px;
    margin: 4px;
    font-weight: bold;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    color: var(--text-color);
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .actions button {
    font-weight: 700;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    color: white;
    border: none;
    transition-duration: 0.2s;
    font-size: 18px;
    background-color: var(--second-color);
  }

  .actions button {
    color: white;
    background-color: var(--second-color);
    margin: 4px;
  }

  .actions button:hover {
    color: white;
    background-color: var(--third-color);
  }

  .actions button[type='button']:hover {
    color: white;
    background-color: var(--third-color);
  }

  h1 {
    margin: 20px;
    font-size: 35px;
    color: var(--second-color);
  }
}
